/* Fonts */
@font-face {
  font-family: DMSerifDisplay-Regular;
  src: url(../Fonts/DMSerifDisplay-Regular.ttf);
}

* {
  font-family: "Lora", serif;
}

/* Heading */
h1,
h2,
h3,
h4,
h5 {
  font-family: DMSerifDisplay-Regular;
}

/* Body */
body {
  margin: 0%;
}
.uni-padding {
  padding: 0 7%;
}

/* TopBar */
#topbar {
  background-color: #576574;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: auto;
}
#tollfree {
  float: left;
  color: white;
  font-size: 15px;
  margin: 0;
}
#social-icon {
  float: right;
}
.fab {
  background-color: white;
  color: #576574;
  padding: 7px;
  border-radius: 50%;
}
.fa-whatsapp {
  padding: 7px 8px;
}
.fa-instagram {
  padding: 7px 8px;
}
@media only screen and (max-width: 540px) {
  #tollfree {
    font-size: 10px;
    padding-top: 10px;
  }
  .fa-whatsapp,
  .fa-instagram,
  .fa-facebook,
  .fa-twitter {
    font-size: 10px;
    padding: 3px 4px;
  }
}
@media only screen and (max-width: 380px) {
  #tollfree {
    font-size: 7px;
    padding-top: 8px;
  }
  .fa-whatsapp,
  .fa-instagram,
  .fa-facebook,
  .fa-twitter {
    font-size: 8px;
    padding: 2px 3px;
  }
}
/* Logo Bar
      #logobar img {
        width: 10%;
        margin: 25px 0px;
      } */
/* Nav Bar */
#navbar {
  background-color: tomato;
}
#navbar ul li {
  display: inline-block;
  color: white;
  padding: 18px 0px;
  padding-right: 35px;
}
#navbar ul {
  margin: 0;
  padding: 0px;
}
#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
@media only screen and (max-width: 650px) {
  #navbar ul li {
    padding: 2px 0px;
    padding-right: 8px;
  }
  #navbar ul li a {
    font-size: 10px;
  }
}
@media only screen and (max-width: 380px) {
  #navbar ul li {
    padding: 2px 0px;
    padding-right: 5px;
  }
  #navbar ul li a {
    font-size: 8px;
  }
}
/* Contact US */
/* Contact */
h2 {
  color: red;
}
#contact {
  overflow: auto;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sec-left {
  width: 50%;
  float: left;
  background-color: #f2f2f2;
}
.sec-right {
  width: 50%;
  float: right;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .sec-left {
    height: 250px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 20px;
  }
  .sec-left p {
    font-size: 12px;
  }
  .sec-left {
    height: 250px;
  }
}
@media only screen and (max-width: 550px) {
  h2 {
    font-size: 20px;
  }
  .sec-left p {
    font-size: 9px;
  }
  .sec-left {
    height: 250px;
  }
}
/* Whatsapp Section */
#whatsapp {
  overflow: auto;
  color: black;
  padding-top: 10px;
  padding-bottom: 20px;
}
.sec70 {
  width: 70%;
  float: left;
}
.sec70 h2,
p {
  margin: 0;
  padding: 2px 2px;
}
.sec30 {
  width: 30%;
  float: right;
  text-align: center;
  padding-top: 40px;
}

#callus {
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 18px;
}
@media only screen and (max-width: 817px) {
  #callus {
    padding: 10px 35px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 604px) {
  #callus {
    padding: 7px 25px;
    font-size: 12px;
  }
  .sec30 {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 480px) {
  #callus {
    padding: 5px 10px;
    font-size: 8px;
  }
  .sec30 {
    padding-top: 20px;
  }
  .sec70 h2,
  p {
    font-size: 10px;
  }
}
/* FORM */
#form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 30px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Footer */
#imp-links {
  background-color: #576574;
  color: white;
  overflow: auto;
}
.div33 {
  width: 33.33%;
  float: left;
  padding: 25px 0px;
  box-sizing: border-box;
}
.div33 h3 {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  font-weight: normal;
}
#footer-menu {
  padding: 0px;
  list-style-type: none;
}
#footer-menu li {
  padding-bottom: 1px;
}
#footer-menu li a {
  color: white;
  text-decoration: none;
}
#footer-menu-container {
  padding-left: 100px;
}
#copyright {
  background-color: #222f3e;
  padding: 10px;
  color: #cbcbcb;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .div33 {
    padding: 0px 0px;
  }
  .div33 h3 {
    text-decoration: none;
  }
  .div33 h3,
  p,
  a {
    font-size: 8px;
  }
  #footer-menu-container {
    padding-left: 60px;
  }
  #footer-menu li {
    margin-top: -10px;
  }
}
@media only screen and (max-width: 550px) {
  .div33 {
    padding: 0px 0px;
  }
  .div33 h3 {
    text-decoration: none;
  }
  .div33 h3,
  p,
  a {
    font-size: 5px;
  }
  #footer-menu-container {
    padding-left: 40px;
  }
  #footer-menu li {
    margin-top: -15px;
  }
}
